# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
.venv/
venv/
*.db

# Node
node_modules/
frontend/dist/
.vite/

# Data
data/*.parquet
data/*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.log
